# Project #

# Maven #
target/
DT.log
EP.log

# Eclipse #
.project
.classpath
.settings

# IntelliJ IDEA #
.idea/
*.iml
overlays/
atlassian-ide-plugin.xml

# Remove inputs from Git #
/src/main/resources/**/input*